* text=auto eol=lf

*.{css} diff=css
*.{js,mjs,ts} diff=js
*.{json,jsonc} diff=json
*.{md,mdc} diff=markdown
*.{vue} diff=vue

*.{cs,gd,gdshader} text
*.{csproj,sln} text
*.{tres,tscn} text
*.{res,scn} binary

*.{jpg,jpeg,png,webp} filter=lfs diff=lfs merge=lfs -text
*.{mp3,wav,ogg,ogx,ogv} filter=lfs diff=lfs merge=lfs -text
*.{ttf,otf,woff,woff2} filter=lfs diff=lfs merge=lfs -text
